/* --------------------INDEX--------------------------*/
@media (min-width: 769px) {
  .mtop-90 {
    margin-top: 90px;
  }
}
.section-pad {
  padding: 75px 0;
}

.p-margin {
  margin: 0 0 1rem !important;
}

.underlined {
  text-decoration: underline;
}

.color-gray {
  color: #e4e7eb !important;
}

.size-2-4 {
  font-size: 2.4rem !important;
}

.size-4 {
  font-size: 4rem !important;
}
.size-5 {
  font-size: 6rem !important;
}
.size-20 {
  font-size: 20px !important;
}

.size-24 {
  font-size: 24px !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.f-weight {
  font-weight: 500;
}

.bg-white {
  background-color: #fff;
  border-color: #fff;
}

.bg-white:hover {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #ff7f00 !important;
}

.color-orange {
  color: #ff7f00 !important;
}
.bg-dark-blue {
  background-color: #1f2933;
}

.bkg-theme:hover {
  /* box-shadow: -4px 4px 33px -1px rgba(0, 0, 0, 0.71); */
  background-color: #ff7f00 !important;
  border-color: #ff7f00 !important;
  color: #fff !important;
}

.text-pad {
  padding: 0px 40px;
}

.br-0 {
  border-radius: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
/* .text-pad2 {
  padding: 0px 250px;
} */
.fellow-img {
  height: 196px !important;
  width: 390px !important;
}
.hero-right {
  right: 0 !important;
  left: unset !important;
}
.hero-left {
  left: 0 !important;
  right: unset !important;
}
@media (min-width: 1921px) {
  .hero-right {
    right: 335px !important;
    left: unset !important;
  }
  .hero-left {
    left: 335px !important;
    right: unset !important;
  }
}
@media (max-width: 1920px) {
  .hero-right {
    right: 77px !important;
    left: unset !important;
  }
  .hero-left {
    left: 77px !important;
    right: unset !important;
  }
}
@media (max-width: 1440px) {
  .hero-right {
    right: 57px !important;
    left: unset !important;
  }
  .hero-left {
    left: 57px !important;
    right: unset !important;
  }
}
@media (max-width: 1024px) {
  .hero-right {
    right: 43px !important;
    left: unset !important;
  }
  .hero-left {
    left: 43px !important;
    right: unset !important;
  }
}
@media (min-width: 769px) {
  .text-pad2 {
    padding: 0px 60px;
  }
}

@media (max-width: 960px) {
  .responsive-no-show {
    display: none !important;
  }
  .logo-responsive {
    width: 180px;
  }
  .fellow-img {
    height: auto !important;
    width: 100% !important;
  }
  .hero-right {
    right: unset !important;
    left: unset !important;
  }
  .hero-left {
    left: unset !important;
    right: unset !important;
  }
}

.pad-right {
  padding-right: 70px;
}

@media (min-width: 768px) {
  .pad-left {
    padding-left: 10px !important;
  }
}

.why-how-section {
  margin-top: 0;
}

.call-2-action {
  padding: 0px 68vh;
}

.br-form {
  border-radius: 5px !important;
}

.img-city {
  height: 273px !important;
  width: 273px !important;
}

.img-city2 {
  height: 300px !important;
  width: 335px !important;
}

@media (max-width: 426px) {
  .padt-0-mobile {
    padding-top: 0px !important;
  }

  .padt-30-mobile {
    padding-top: 30px !important;
  }

  .padb-30-mobile {
    padding-bottom: 30px !important;
  }

  .why-how-section {
    margin-top: 0;
  }
  .thumbnail > a,
  .thumbnail > span {
    left: 45px;
  }
  iframe {
    width: 100%;
  }
}
@media (max-width: 321px) {
  .thumbnail > a,
  .thumbnail > span {
    left: 16px;
  }
}

/*--------------------INDEX END-----------------------*/
/*--------------------CITIES PAGE---------------------*/
.bg-light-gray {
  background-color: #e4e7eb !important;
}

.color-black {
  color: #1f2933 !important;
}

.p-text-color {
  color: #52607b !important;
}

.apply-btn {
  color: #fff !important;
  font-weight: 400 !important;
}

.apply-btn:hover {
  color: #ff7f00 !important;
  font-weight: 400 !important;
}

.btn-width {
  width: 50% !important;
}

@media (max-width: 426px) {
  .btn-width {
    width: 100% !important;
  }
}

.ulist-modal {
  list-style: none;
}

.list-style {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: none;
}

.list-contains {
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.6rem;
  padding-top: 10px;
  border-left: 3px solid transparent;
}

.list-contains:hover {
  color: #ff7f00 !important;
  padding-left: 3px;
}

.borderb {
  border-bottom: 1px solid #eee;
}

.bg-dropdown {
  background-color: #ff7f00;
  border-color: #ff7f00;
}

.bg-dropdown:hover {
  background-color: #ff7f00 !important;
  border-color: #ff7f00 !important;
  color: #fff !important;
}

.section-block .row .column option {
  background-color: #fff;
  color: #1f2933 !important;
}

.section-block .row .column select option:disabled {
  background-color: lightgrey !important;
  color: #1f2933 !important;
}

.section-block .row .column select option:hover {
  background-color: lightgrey !important;
  color: #ff7f00 !important;
}
/*-----------------END CITIES PAGE--------------------*/
