/* ==========================================================================
   Sticky header style - begin
   ========================================================================== */

$sticky-header-height: 70px;

.mkdf-sticky-header {
	position: fixed;
	top: 0;
	left: 0;
	height: $sticky-header-height;
	width: 100%;
    z-index: 100;
    -webkit-transition: -webkit-transform 0.6s ease;
	-moz-transition: -moz-transform 0.6s ease;
	transition: transform .6s ease;
	-webkit-backface-visibility: hidden;
	@include mkdfTransform(translateY(-100%));
    
    .mkdf-grid {
        height: 100% !important; //override settings for other instances of this div
    }
    
    &.header-appear {
        transform: translateY(0%);
    }
    
    .mkdf-sticky-holder {
	    position: relative;
	    height: 100%;
        z-index: 2;
        background-color: #fff;
        border-bottom: 1px solid $default-border-color;
        box-sizing: border-box;
        
        .mkdf-vertical-align-containers {
            padding: 0 40px;
        }
	
	    .mkdf-logo-wrapper a {
		    max-height: $sticky-header-height;
	    }
    }
    
    .admin-bar &.header-appear {
        top: 32px;
    }
	
	.mkdf-position-center-inner,
	.mkdf-position-right-inner {
		height: 100%;
	}
	
	.mkdf-sticky-right {
		display: inline-block;
		vertical-align: middle;
	}
	
	.widget {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}
}
/* ==========================================================================
   Sticky header style - end
   ========================================================================== */