/* ==========================================================================
   Product List - Carousel shortcode styles - begin
   ========================================================================== */

.mkdf-plc-holder {
    @include mkdfRelativeHolderLayout();

    .mkdf-plc-outer {
        @include mkdfRelativeHolderLayout();
    }

    .mkdf-plc-item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 0;
        z-index: 100;
        overflow: hidden;
        box-sizing: border-box;

        &:hover {

            .mkdf-plc-image-outer {

                .mkdf-plc-text {
                    opacity: 1;
                }
            }
        }

        .touch & {
            cursor: pointer;
        }

        .mkdf-plc-image-outer {
            @include mkdfRelativeHolderLayout();

            .mkdf-plc-image {
                @include mkdfRelativeHolderLayout();

                .mkdf-plc-onsale,
                .mkdf-plc-out-of-stock {
                    position: absolute;
                    display: block;
                    top: 0;
                    width: auto;
                    height: 24px;
                    color: #fff;
                    font-size: 8px;
                    line-height: 24px;
                    letter-spacing: 1px;
                    padding: 0 16px;
                    margin: 0;
                    text-align: center;
                    z-index: 100;
                    @include mkdfTransform(translateZ(0));
                    box-sizing: border-box;
                }

                .mkdf-plc-onsale {
                    left: 0;
	                background-color: rgba($default-heading-color, .5);
                }

                .mkdf-plc-out-of-stock {
	                right: 0;
	                background-color: rgba($default-heading-color, .5);
                }
            }

            .mkdf-plc-text {
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                width: 100%;
                height: 100%;
                padding: 10px;
                opacity: 0;
                background-color: rgba($default-heading-color, 0.6);
                box-sizing: border-box;
                @include mkdfTransition(opacity .2s ease-out, background-color .2s ease-out);
            }

            .mkdf-plc-text-outer {
                position: relative;
                display: table;
                width: 100%;
                height: 100%;
                text-align: center;
            }

            .mkdf-plc-text-inner {
                position: relative;
                display: table-cell;
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
        }

        .mkdf-plc-title {
            margin: 0 0 4px;
        }
	
	    .mkdf-plc-category {
		    margin: 11px 0 3px;
	    }

        .mkdf-plc-excerpt {
            color: $default-heading-color;
            line-height: 1.3em;
            margin: 11px 0 3px;
        }

        .mkdf-plc-rating-holder {
            @include mkdfRelativeHolderLayout();
            line-height: 1;
            margin: 10px 0 3px;
        }

        .mkdf-plc-rating {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            font-family: "ElegantIcons";
            font-size: 12px;
            line-height: 1;
            letter-spacing: 2px;
            color: $default-text-color;
            overflow: hidden;
            -webkit-font-smoothing: antialiased;

            &:before {
                content: "\e031\e031\e031\e031\e031";
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;

                &:before {
                    content: "\e033\e033\e033\e033\e033";
                }
            }
        }

        .mkdf-plc-price {
            line-height: 1;
            margin: 14px 0 0;
            color: $default-heading-color;

            * {
                font-size: inherit;
                line-height: inherit;
            }

            del {
                margin: 0 8px 0 0;
            }

            ins {
                text-decoration: none;
            }
        }
	
	    .button,
	    .added_to_cart {
		    @include mkdfButtonDefaultStyle();
		    @include mkdfButtonMediumParams();
		    white-space: nowrap;
		    z-index: 3;
	    }
	
	    .button.added {
		    display: none;
	    }
	
	    .mkdf-plc-add-to-cart {
		    margin: 20px 0 0;
		
		    &.mkdf-default-skin {
			
			    .button,
			    .added_to_cart {
				    @include mkdfButtonSolidColor();
				
				    &:hover {
					    @include mkdfButtonSolidHoverColor();
				    }
			    }
		    }
		
		    &.mkdf-light-skin {
			
			    .button,
			    .added_to_cart {
				    color: $default-heading-color;
				    background-color: #fff;
				
				    &:hover {
					    color: #fff;
					    background-color: $first-main-color;
				    }
			    }
		    }
		
		    &.mkdf-dark-skin {
			
			    .button,
			    .added_to_cart {
				    color: #fff;
				    background-color: $default-heading-color;
				
				    &:hover {
					    color: #fff;
					    background-color: $first-main-color;
				    }
			    }
		    }
	    }

        .mkdf-plc-link {
            @include mkdfAbsoluteHolderLayout();
        }
    }

    &.mkdf-standard-layout {

        .mkdf-plc-item {
    
            .mkdf-plc-title,
            .mkdf-plc-category a,
            .mkdf-plc-excerpt,
            .mkdf-plc-rating,
            .mkdf-plc-price {
                color: #fff;
            }
	
	        .mkdf-plc-category a:hover {
		        color: rgba(#fff, .8);
	        }
        }
    }

    &.mkdf-simple-layout {
        
        .mkdf-plc-image-outer {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
            padding: 0 15px 0 0;
        }

        .mkdf-plc-text-wrapper {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            width: 50%;
            padding: 0 0 0 15px;
        }

        .mkdf-plc-text,
        .mkdf-plc-text-outer,
        .mkdf-plc-text-inner {
            @include mkdfRelativeHolderLayout();
            -webkit-transform: translateZ(0);
        }
    }
	
	&.mkdf-plc-nav-light-skin {
		
		.owl-nav {
			
			.owl-prev,
			.owl-next {
				color: $header-light-color;
				
				&:hover {
					color: $header-light-hover-color;
				}
			}
		}
	}
	
	&.mkdf-plc-pag-inside-slider {
		
		.owl-prev,
		.owl-next {
			@include mkdfTransform(translateY(-50%));
		}
		
		.owl-dots {
			position: absolute;
			left: 0;
			bottom: 10px;
			margin: 0;
		}
	}
	
	&.mkdf-plc-pag-light-skin {
		
		.owl-dots {
			
			.owl-dot {

				span {
					background-color: $header-light-hover-color;
				}

				&:hover,
				&.active {

					span {
						background-color: $header-light-color;
					}
				}
			}
		}
	}
}
/* ==========================================================================
   Product List - Carousel shortcode styles - end
   ========================================================================== */