/* ==========================================================================
   WooCommerce Single Product Page styles - begin
   ========================================================================== */

.mkdf-woo-single-page {
	
	&.mkdf-woo-single-thumb-on-left-side {
		
		.mkdf-single-product-content {
			
			.images {
				
				@media only screen and (min-width: $ipad-portrait-plus-pixel) {
					
					figure {
						width: 100%;
						margin: 0;
					}
					
					.woocommerce-product-gallery__image {
						
						&:first-child {
							left: 130px;
							width: calc(100% - 130px);
						}
					}
					
					&.woocommerce-product-gallery--with-images {
						
						.woocommerce-product-gallery__image {
							
							&:not(:first-child) {
								position: absolute;
								top: 0;
								left: 0;
								width: 114px;
								height: calc(25% + 5px);
								padding: 0 0 20px;
								box-sizing: border-box;
								
								a {
									height: 100%;
									
									img {
										height: 100%;
									}
								}
							}
							
							$thumbnail_numbers: (2, 3, 4, 5, 6, 7, 8, 9);
							@for $i from 0 to length($thumbnail_numbers) {
								$thumbnail_number_value: nth($thumbnail_numbers, $i+1);
								
								&:nth-child(#{$thumbnail_number_value}#{n}) {
									$first_param: (25 * $i)#{'%'};
									$second_param: (5 * $i)#{px};
									$topPos: calc(#{$first_param} + #{$second_param});
									
									top: $topPos;
								}
							}
						}
					}
				}
			}
		}
	}
    
    .product {
	    @include mkdfRelativeHolderLayout();
	    float: none;
	    margin: 0 0 50px;
    }
        
    .mkdf-single-product-content {
        @include mkdfRelativeHolderLayout();
        clear: both;
        margin: 0 0 20px;
	
	    .images {
		    position: relative;
		    display: inline-block;
		    vertical-align: middle;
		    width: 55%;
		    margin: 0;
		    padding: 0 29px 0 0;
		    float: left;
		    box-sizing: border-box;
		    
		    figure {
			    position: relative;
			    display: inline-block;
			    vertical-align: top;
			    margin: 0 -10px;
			
			    a {
				    @include mkdfRelativeHolderLayout();
				
				    img {
					    position: relative;
					    width: 100%;
					    display: block;
				    }
			    }
		    }
		
		    .woocommerce-product-gallery__trigger {
				position: absolute;
			    top: 10px;
			    right: 39px;
			    width: 30px;
			    height: 30px;
			    line-height: 30px;
			    text-align: center;
			    z-index: 10;
		    }
		    
		    .woocommerce-product-gallery__image {
			    position: relative;
			    display: inline-block;
			    vertical-align: top;
			    margin: 0;
			    padding: 0 10px;
			    box-sizing: border-box;
			    
			    &:first-child {
				    left: 10px;
				    width: calc(100% - 20px);
				    padding: 0;
			    }
			
			    .zoomImg {
				    cursor: crosshair;
			    }
		    }
		    
		    &.woocommerce-product-gallery--with-images {
			
			    .woocommerce-product-gallery__image {
				
				    &:not(:first-child) {
					    float: left;
					    padding-top: 20px;
				    }
			    }
		    }
		
		    $thumb_3_columns_label: ('columns-2', 'columns-3', 'columns-4');
		    @for $i from 0 to length($thumb_3_columns_label) {
			    &.woocommerce-product-gallery--#{nth($thumb_3_columns_label, $i+1)} {
				    $column_width: 100%/($i+2);
				
				    .woocommerce-product-gallery__image {
					
					    &:not(:first-child) {
						    width: $column_width;
					    }
				    }
			    }
		    }
	    }
    }
	
    .mkdf-single-product-summary {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 45%;
        padding: 0 0 0 29px;
        float: left;
        box-sizing: border-box;
	
	    .mkdf-single-product-title {
		    display: block;
		    margin: 0 0 4px;
	    }
	
	    .price {
		    position: relative;
		    display: block;
		    margin: 19px 0 0;
		    line-height: 1;
		    color: $first-main-color;
		
		    * {
			    font-size: 30px;
				font-weight: 700;
                letter-spacing: -0.005em;
			    line-height: inherit;
		    }
		
		    del {
			    margin: 0 8px 0 0;
		    }
		
		    ins {
			    text-decoration: none;
		    }
	    }
	
	    .woocommerce-product-rating {
		    @include mkdfRelativeHolderLayout();
		    line-height: 1;
		    margin: 8px 0 3px;
	    }
	
	    .woocommerce-product-details__short-description {
		    @include mkdfRelativeHolderLayout();
		    margin: 41px 0 0;
		
		    p {
			    margin: 0;
		    }
	    }
	
	    .product_meta {
		    margin: 35px 0 0;
		
		    > span {
			    display: block;
			    margin: 3px 0;
                color: $default-heading-color;
			
			    a {
				    color: #999999;
				
				    &:hover {
					    color: $first-main-color;
				    }
			    }
		    }
	    }
	
	    .mkdf-woo-social-share-holder {
		    @include mkdfRelativeHolderLayout();
		    margin: 0;
		
		    > * {
			    display: table-cell;
			    vertical-align: top;
		    }
		
		    > span {
			    padding: 0 9px 0 0;
		    }
	    }
	
	    p.stock.out-of-stock,
	    p.stock.in-stock {
		    color: $default-heading-color;
		    font-weight: bold;
		    margin: 18px 0 0;
	    }
	
	    form.cart {
		    @include mkdfRelativeHolderLayout();
		    margin: 40px 0 0;
	    }
	
	    .mkdf-quantity-buttons {
		    margin: 0 20px 0 0;
	    }
    }
	
	.woocommerce-tabs {
		@include mkdfRelativeHolderLayout();
		margin: 32px 0 0;
		
		ul.tabs {
			@include mkdfRelativeHolderLayout();
			list-style: none;
			margin: 0;
			padding: 0;
			border-bottom: 1px solid $default-border-color;
			clear: both;
            font-size: 0;
			
			> li {
				position: relative;
				display: inline-block;
				vertical-align: bottom;
				
				a {
					position: relative;
					display: inline-block;
                    text-align: center;
					vertical-align: top;
					padding: 16px 28px 15px;
                    font-weight: 600;
                    font-size: 12px;
                    color: #808285;
                    letter-spacing: -0.005em;
                    text-transform: uppercase;
                    background-color: #f4f4f4;
                    border: 1px solid transparent;
                    border-bottom: none;

                    &:before {
                        font-family: 'ElegantIcons';
                        display: block;
                        margin-right: 8px;
                        line-height: 21px;
                    }

                    &[href*="description"]:before {
                        content: "\e086";
                    }
                    &[href*="reviews"]:before {
                        content: "\e08b";
                    }
                    &[href*="additional"]:before {
                        content: "\e059";
                    }
				}

                &.active {
                    a {
                        color: $first-main-color;
                        background-color: #fff;
                        padding-top: 23px;
                        border: 1px solid #ebebeb;
                        border-bottom: none;
                    }
                }
			}
		}
		
		.entry-content {
			@include mkdfRelativeHolderLayout();
			
			> h2 {
				display: none;
			}
			
			> p {
				margin: 50px 0 20px;
			}
		}
		
		table {
			margin: 50px 0 20px;
			
			tr, th {
				border: 0;
			}
			
			td, th {
				padding: 3px 0;
				vertical-align: middle;
				text-align: left;
				
				p {
					margin: 0;
				}
			}
			
			th {
				color: $default-heading-color;
				width: 1%;
				padding: 0 10px 0 0;
				font-weight: 300;
			}
			
			td {
				width: 99%;
			}
		}
		
		#reviews {
			@include mkdfRelativeHolderLayout();
			margin: 18px 0 20px;
			
			h2 {
				font-size: 18px;
				line-height: 24px;
				margin: 8px 0 24px;
			}
			
			ol.commentlist {
				list-style: none;
				
				li {
					margin: 0 0 15px;
					
					&:last-child {
						margin: 0;
					}
				}
				
				.comment_container {
					@include mkdfRelativeHolderLayout();
					
					img {
						float: left;
						width: 70px;
					}
				}
				
				.comment-text {
					padding: 0 0 0 90px;
					
					p {
						margin: 0;
					}
				}
			}
			
			.comment-respond {
				margin-top: 15px;
				
				.comment-reply-title {
					margin: 0 0 10px;
				}
				
				p {
					margin: 0;
				}
				
				.stars {
					overflow: hidden;
					
					a {
						position: relative;
						display: inline-block;
						color: transparent;
						font-size: 0;
						margin: 0;
						
						&:before {
							position: relative;
							display: inline-block;
							vertical-align: middle;
							font-family: "ElegantIcons";
							content: "\e031";
							font-size: 12px;
							line-height: 1;
							letter-spacing: 2px;
							color: $default-text-color;
							overflow: hidden;
							z-index: -1;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
						}
						
						&.active:after {
							position: absolute;
							right: 0;
							bottom: 7px;
							display: block;
							font-family: "ElegantIcons";
							font-size: 12px;
							line-height: 1;
							letter-spacing: 2px;
							color: $default-text-color;
							content: "\e033\e033\e033\e033\e033";
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
						}
					}
				}
			}
		}
	}
	
	.related.products,
	.upsells.products {
		margin: 30px 0 0;
		
		> h2 {
			display: block;
			margin: 0 0 37px;
            font-size: 30px;
		}
		
		.product {
			
			.mkdf-pl-text-wrapper {
				margin-bottom: 0;
			}

            .button,
            .added_to_cart {
                margin: 0;
                width: 100%;
                background-color: #676767;
                color: $first-main-color;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .button {
                &:before {
                    content: "\f067";
                    font: normal normal normal 14px/1 FontAwesome;
                    margin-right: 7px;
                }
            }
		}
	}
}
/* ==========================================================================
   WooCommerce Single Product Page styles - end
   ========================================================================== */