/* Single author box styles - begin
	====================================================================== */

.mkdf-author-description {
    @include mkdfRelativeHolderLayout();
    padding: 0;
    background-color: #f9f9f9;
    box-sizing: border-box;

    .mkdf-author-description-inner {
        padding: 35px 0 43px;
        min-height: 78px; // static height of author image -- mkdf-author-description-image
        clear: both;
    }

    .mkdf-author-description-content {
        position: relative;
        padding: 0 35px;
    }

    .mkdf-author-description-image {
        float: left;
        margin-right: 20px;

        img {
            display: block;
            vertical-align: middle;
            width: 124px;
            border-radius: 50%;
        }
    }

    .mkdf-author-description-text-holder {
        padding-left: 151px;
        position: relative;

        .mkdf-author-name {
            margin: 0;

            a {
                color: $default-heading-color;

                &:hover {
                    color: $first-main-color;
                }
            }
        }

        .mkdf-author-position {
            margin-top: 4px;
        }

        .mkdf-author-email {
            margin: 0;
        }

        .mkdf-author-text {
            @include mkdfRelativeHolderLayout();

            > p {
                margin: 10px 0 14px;
            }
        }

        .mkdf-author-social-icons {
            @include mkdfRelativeHolderLayout();

            a {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                padding: 0;
                margin: 0 15px 0 0;
                font-size: 13px;
                color: #999;

                &:last-child {
                    margin: 0;
                }

                &:hover {
                    color: $first-main-color;
                }
            }
        }
    }

    @include ipad-portrait {
        .mkdf-author-description-image {
            display: block;
            width: 100%;
        }
        .mkdf-author-description-text-holder {
            display: block;
            padding: 0;
            margin-top: 30px;
        }
    }
}

/* Single author box styles - end
	====================================================================== */