/* Single posts navigation styles - begin
    ====================================================================== */

.mkdf-blog-single-navigation {
    position: relative;
    display: table;
    width: 100%;
    vertical-align: middle;
    padding: 0;
    clear: both;
    box-sizing: border-box;

    .mkdf-blog-single-navigation-inner {
    	display: table;
    	width: 100%;
    	table-layout: fixed;
        padding: 38px 0 30px;
    }

    .mkdf-blog-single-prev,
    .mkdf-blog-single-next {
        color: $default-heading-color;
        display: table-cell;
        vertical-align: middle;
        width: 50%;

        &:only-child{
        	width: 100%;
        }

        .mkdf-blog-single-nav-table-holder{
        	display: table;
        	width: 100%;
        	table-layout: fixed;
        }

        .mkdf-blog-single-nav-mark {
            font-size: 48px;
            line-height: inherit;
            color: inherit;

            &:before {
                display: block;
                line-height: inherit;
            }
        }

        .mkdf-blog-single-nav-title{
        	color: inherit;
        }

        &:hover {
            color: $first-main-color;
        }

        .mkdf-nav-blog-post-image {
            position: relative;
            width: 64px;
            display: table-cell;
            vertical-align: middle;
        }

        .mkdf-nav-blog-post-label-wrapper {
            display: table-cell;
            vertical-align: middle;
        }

        .mkdf-blog-single-nav-title {
            margin: 0;
        }
    }

    .mkdf-blog-single-prev {
        text-align: left;

        .mkdf-blog-single-nav-mark {
            margin: 0 14px 0 0;
        }
        .mkdf-nav-blog-post-image {
            padding-right: 18px;
        }

        .mkdf-nav-blog-post-label-wrapper {
            padding: 0 25px 0 0;
        }
    }

    .mkdf-blog-single-next {
        text-align: right;

        .mkdf-blog-single-nav-mark {
            margin: 0 0 0 14px;
        }

        .mkdf-nav-blog-post-image {
            padding-left: 18px;
        }

        .mkdf-nav-blog-post-label-wrapper {
            padding: 0 0 0 25px;
        }
    }

    .mkdf-nav-image {
        display: block;
        width: 64px;
        height: 64px;
    }
}

.mkdf-single-links-pages {
    clear: both;
    margin: 20px 0 5px;

    .mkdf-single-links-pages-inner {

        > a,
        > span {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: 0 15px 5px 0;
        }
    }
}
/* Single posts navigation styles - end
    ====================================================================== */