/* ==========================================================================
# Side area style - begin
========================================================================== */

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener,
.mkdf-light-header .mkdf-top-bar .mkdf-side-menu-button-opener {
	color: $header-light-color !important; //Color can be set inline from widget opener;
	
	&.opened,
	&:hover {
		color: $header-light-hover-color !important; //Color can be set inline from widget opener;
	}
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener,
.mkdf-dark-header .mkdf-top-bar .mkdf-side-menu-button-opener {
	color: $header-dark-color !important; //Color can be set inline from widget opener;
	
	&.opened,
	&:hover {
		color: $header-dark-hover-color !important; //Color can be set inline from widget opener;
	}
}

.mkdf-side-menu-button-opener {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	top: -3px;
	
	.mkdf-side-menu-title {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0 8px 0 0;
		color: currentColor;
	}
	
	.mkdf-side-menu-icon {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-size: 20px;

		.mkdf-sm-lines {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 16px;
			height: 16px;

			.mkdf-sm-line {
				position: absolute;
				right: 0;
				height: 2px;
				background-color: currentColor;
				border-radius: 12px;
				-webkit-transition: -webkit-transform .2s ease, top .15s, background-color .2s ease-out;
				transition: transform .2s ease, top .15s, background-color .2s ease-out;

				&.mkdf-line-1 {
					width: 16px;
					top: 0;
					outline: transparent solid 1px;
				}

				&.mkdf-line-2 {
					width: 10px;
					top: calc(50% - 1px);
					outline: transparent solid 1px;
				}

				&.mkdf-line-3 {
					width: 15px;
					top: calc(100% - 2px);
					outline: transparent solid 1px;
				}
			}
		}
	}
	
	&.opened,
	&:hover {
		color: $first-main-color;

		.mkdf-sm-lines {

			.mkdf-sm-line {

				&.mkdf-line-1,
				&.mkdf-line-3 {
					top: calc(50% - 1px);
				}

				&.mkdf-line-2 {
					@include mkdfTransform(rotate(90deg));
					width: 16px;
					-webkit-transition: -webkit-transform .15s ease .2s, top .2s ease-out, background-color .2s ease-out;
					transition: transform .15s ease .2s, top .2s ease-out, background-color .2s ease-out;
				}
			}
		}
	}
}

.mkdf-side-menu {
    position: fixed;
    top: 0;
	right: -400px;
	width: 400px;
    height: 100%;
    min-height: 100%;
	padding: 70px 37px 36px;
    background-color: rgba(46,46,46,.95);
    text-align: left;
    overflow: hidden;
    visibility: hidden;
    z-index: 9999;
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
	box-shadow: -3px 0 3px rgba(0, 0, 0, 0.04);
    @include mkdfTransition(all .6s cubic-bezier(.77,0,.175,1));

    .mkdf-close-side-menu-holder {
        position: absolute;
	    top: 36px;
	    right: 37px;
        z-index: 1000;
	
	    .admin-bar & {
		    top: 68px;
	    }
    }

	a.mkdf-close-side-menu {
		display: block;
		color: #fff;
		font-size: 40px;
		z-index: 1000;

		&:hover {
			color: $first-main-color;
		}

		span {
			display: block;
			line-height: inherit;

			&:before {
				display: block;
				line-height: inherit;
			}
		}
	}
}

.mkdf-side-menu-slide-from-right {
	
	&.mkdf-right-side-menu-opened {
		
		.mkdf-wrapper {
			
			.mkdf-cover {
				z-index: 3000;
			}
		}
		
		.mkdf-side-menu {
			right: 0;
			visibility: visible;
		}
	}

    .mkdf-wrapper {

        .mkdf-cover {
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            opacity: 0;
        }
    }
}
/* ==========================================================================
# Side area style - end
========================================================================== */