/* ==========================================================================
   Title style - begin
   ========================================================================== */

.mkdf-title-holder {
    @include mkdfRelativeHolderLayout();
    height: 300px;
    background-color: #f6f6f6;
    background-position: center 0;
    background-repeat: no-repeat;
    z-index: 101;
	
	&.mkdf-title-full-width {
		
		.mkdf-grid {
			@include mkdfRelativeHolderLayout();
			margin: 0;
			padding: 0 60px;
			box-sizing: border-box;
		}
	}
	
	&.mkdf-bg-responsive {
		height: auto !important; // because of inline style
		
		.mkdf-title-image {
			display: block;
		}
		
		.mkdf-title-wrapper {
			position: absolute;
			top: 50%;
			left: 0;
			@include mkdfTransform(translateY(-50%));
		}
	}
	
	&.mkdf-bg-parallax {
		background-attachment: fixed;
	}
	
	.mkdf-title-image {
		display: none;
		
		img {
			display: block;
			width: 100%;
		}
	}
    
    .mkdf-title-wrapper {
        @include mkdfTableLayout();
	    box-sizing: border-box;
    }
    
    .mkdf-title-inner {
        @include mkdfTableCellLayout();
    }

    //style only when span is selected as subtitle tag
    span.edgtf-page-subtitle{
    	font-size: 30px;
    	font-family: $additional-text-font;
    	font-weight: 700;
    	font-style: italic;
    }
}
/* ==========================================================================
   Title style - end
   ========================================================================== */