/* ==========================================================================
   Title responsive style - begin
   ========================================================================== */

@include laptop-landscape-medium {
    
    .mkdf-title-holder {
        
        &.mkdf-title-full-width {
            
            .mkdf-grid {
                padding: 0 40px;
            }
        }
    }
}

@include ipad-landscape {
    
    .mkdf-title-holder {
        
        &.mkdf-has-bg-image {
            height: auto !important; // because of inline style
            padding: 0 !important; // because of inline style
	        background-image: none !important; // because of inline style
    
            .mkdf-title-image {
                display: block;
            }
    
            .mkdf-title-wrapper {
                position: absolute;
                top: 50%;
                left: 0;
	            height: 100% !important;
	            padding-top: 0 !important;
                @include mkdfTransform(translateY(-50%));
            }
        }
    }
}

@include phone-portrait{
	.mkdf-title-holder,
	.mkdf-title-holder.mkdf-centered-type{
		.mkdf-page-subtitle{
			display: none;
		}
	}
}
/* ==========================================================================
   Title responsive style - end
   ========================================================================== */