@include ipad-portrait {
    
    .mkdf-related-posts-holder {
        
        .mkdf-related-post {
            width: 50% !important;
        }
    }
}

@include phone-portrait {
    
    .mkdf-related-posts-holder {
        
        .mkdf-related-post {
            width: 100% !important;
        }
    }


	.mkdf-blog-single-navigation {

		.mkdf-blog-single-prev .mkdf-nav-blog-post-image{
			width: 15px;

			&:before{
				content: "\e875";
				font-family: 'Linearicons-Free';
			}
		}

		.mkdf-blog-single-next .mkdf-nav-blog-post-image{
			width: 15px;

			&:before{
				content: "\e876";
				font-family: 'Linearicons-Free';
			}
		}

		.mkdf-nav-image{
			display: none;
		}
	}
}