/* ==========================================================================
   Blog List - Standard style - begin
   ========================================================================== */

.mkdf-blog-holder {
	
    &.mkdf-blog-standard {
	    
        article {
            margin: 0 0 50px;
            padding: 0;

            &.mkdf-post-has-media {
                .mkdf-post-heading {
                    margin-bottom: 34px;
                }
            }

            .mkdf-post-title {
                margin: 0;
            }

            .mkdf-post-excerpt-holder {
                @include mkdfRelativeHolderLayout();
                margin: 0 0 4px;
            }

            .mkdf-more-link-container {
                @include mkdfRelativeHolderLayout();
                margin: 20px 0 0;
            }

            .mkdf-post-info {
                margin-bottom: 12px;

                > div {
                    display: inline-block;
                    position: relative;
                    padding-right: 15px;
                    color: #565656;
                    text-transform: capitalize;

                    &:last-child {

                        &:after {
                            content: '';
                        }
                    }

                    a {
                        color: inherit;

                        &:hover {
                            color: $first-main-color;
                        }
                    }

                    &.mkdf-blog-like {
                        .liked i {
                            color: $first-main-color;
                            margin-right: 5px;
                        }
                    }

                    &.mkdf-post-info-category {
                        span {
                            margin-right: 5px;
                            @include mkdfTransition(color 0.2s ease-out 0s);
                        }

                        &:hover{
                            span{
                                color: $first-main-color;
                            }
                        }
                    }
                }
            }

            .mkdf-post-info-bottom {
	            padding-top: 11px;

                .mkdf-post-info-bottom-left,
                .mkdf-post-info-bottom-right {
	                position: relative;
	                display: inline-block;
	                width: 50%;
	                float: left;
                    line-height: 27px;
                }

                .mkdf-post-info-bottom-left {

                    > div {
                        position: relative;
                        display: inline-block;
                        padding-right: 10px;
                        margin-right: 5px;
                        color: #565656;

                        a {
                            color: inherit;

                            &:hover {
                                color: $first-main-color;
                            }
                        }

                        &:last-child {
                            padding-right: 0;
                            margin-right: 0;

                            &:after {
                                content: '';
                            }
                        }

                        &.mkdf-blog-like {
                            .liked i {
                                color: $first-main-color;
                                margin-right: 5px;
                            }
                        }

                        &.mkdf-post-info-category {
                            span {
                                margin-right: 5px;
                                @include mkdfTransition(color 0.2s ease-out 0s);
                            }

                            &:hover{
                                span{
                                    color: $first-main-color;
                                }
                            }
                        }
                    }
                }

                .mkdf-post-info-bottom-right {
	                
                    > div {
                        margin-left: 17px;
	                    
	                    &:first-child {
		                    margin-left: 0;
	                    }
                    }
                }

                .mkdf-post-info-author {
                    display: inline-block;
	                
                    a {
                        color: #444;
	                    text-transform: capitalize;
	                    
                        &:hover {
                            color: $first-main-color;
                        }
                    }
                }

                .mkdf-post-info-bottom-right {
                    text-align: right;
                }
            }

            &.format-audio {
                &.mkdf-post-no-media.has-post-thumbnail {
                    .mkdf-post-heading {
                        margin-bottom: 34px;
                    }
                }
            }

            &.format-quote,
            &.format-link {

                .mkdf-post-text{
                    padding: 39px 62px 38px 82px;
                    background-color: #f9f9f9;
                    box-sizing: border-box;
                }

                .mkdf-post-info {
                    margin-bottom: 4px;
                }

                .mkdf-post-title {
                    font-size: 25px;
                    margin: 0 0 27px;
                }

                .mkdf-post-date-inner .mkdf-post-date-day {
                    background-color: #fff;
                }

                .mkdf-post-mark {
                    width: 63px;
                    height: 63px;
                    line-height: 63px;
                    text-align: center;
                    position: absolute;
                    left: 0;
                    top: 0;
                    color: #fff;
                    background-color: $first-main-color;
                }

                .mkdf-post-date-wrap {
                    > div {
                        display: inline;
                    }

                    &:before {
                        content: "\e023";
                        font-family: 'ElegantIcons';
                        display: inline-block;
                        position: relative;
                        font-size: inherit;
                        margin-right: 5px;
                    }
                }

            }

            &.format-link {
                .mkdf-post-mark {
                    font-size: 30px;
                }
            }

            &.format-quote {

                .mkdf-quote-author {
                    font-size: 14px;
                    font-weight: 400;
                    color: $default-heading-color;
                    display: block;
                    margin-top: -7px;
                    margin-bottom: 22px;
                }

                .mkdf-post-mark {
                    font-size: 36px;
                }
            }
        }
    }
}
/* ==========================================================================
   Blog List - Standard style - end
   ========================================================================== */