/* ==========================================================================
   Footer styles - begin
   ========================================================================== */
@import '../../../../../../assets/css/scss/variables';
@import '../../../../../../assets/css/scss/mixins';

@import 'default/*.scss';

/* ==========================================================================
   Footer styles - end
   ========================================================================== */