// widgets spacing
$widget-bottom-margin: 40px;
$widget-bottom-padding: 15px;
$widget-inner-padding: 15px;

// widget color
$widget-background-color: #eeeeee;

// list items dimensions
$widget-list-item-height: 20px;
$widget-list-item-padding: 8px;

// list items color
$widget-list-item-background-color: #ffffff;

// list items border
$widget-list-item-border-color: $default-border-color;
$widget-list-item-border-width: 1px;
$widget-list-item-border-style: solid;

// text
$widget-text-color: inherit;
$widget-heading-color: #303030;
$default-text-color: #565656;

// links
$widget-link-color: $first-main-color;
$widget-link-hover-color: $first-main-color;

// specific widgets
$widget-search-form-height: 46px;
$widget-tag-cloud-height: 26px;

aside.mkdf-sidebar {
    position: relative;
    z-index: 11;
    margin: 0 0 60px;

    .widget {
        color: $default-text-color;

        &:last-child {
            margin: 0 !important;
        }
    }
}

.wpb_widgetised_column {
    position: relative;

    .widget {

        .mkdf-sidearea-widget-title {
            margin: 0 0 19px;
        }

        &:last-child {
            margin: 0 !important;
        }
    }
}

aside.mkdf-sidebar,
.wpb_widgetised_column {
    @import 'widgets/default-wordpress-widgets-flat';
}