/* ==========================================================================
   Header Tabbed style - begin
   ========================================================================== */

.mkdf-header-tabbed {
	
    .mkdf-page-header {

    	.mkdf-vertical-align-containers{
    		padding: 0;


		    .mkdf-position-center:before,
		    .mkdf-position-left:before,
		    .mkdf-position-right:before{
		    	margin: 0;
		    }
    	}
	    

        .mkdf-menu-area {
            height: 110px;

            .mkdf-logo-wrapper{
            	padding: 0 10px;
            }

            .mkdf-header-tabbed-left{
            	font-size: 0;
            	background-color: $first-main-color;
            }

            .mkdf-header-tabbed-right{

            	.mkdf-header-tabbed-right-inner{
            		display: table;
            		width: 100%;
            		height: 100%;

            		.mkdf-header-tabbed-top,
            		.mkdf-header-tabbed-bottom{
            			display: table-row;
            		}

            		.mkdf-header-tabbed-top{
            			height: 40px;
            			background-color: #2e2e2e;

            			&.mkdf-vertical-align-containers .mkdf-position-left,
            			&.mkdf-vertical-align-containers .mkdf-position-right{
            				z-index: 5;
            			}
            		}
            	}

            	.mkdf-vertical-align-containers {
            		padding: 0;
            	}
            }            

            .mkdf-header-tabbed-bottom {

	            .mkdf-position-left {
	                position: relative;
	                float: left;
	                opacity: 0;
	                width: 0;
	                @include mkdfTransition(opacity 0.3s ease);

	                &:before {
	                    content: normal;
	                    margin: 0;
	                }
	            }

            	.mkdf-position-left-inner {
                    height: 100%;
                    width: 100%;

                    .mkdf-main-menu {
                        width: 100%;
                        margin: 0;

                        > ul {
                            display: table;
                            table-layout: fixed;
                            height: 100%;
                            width: 100%;
                            border-collapse: collapse;
	                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);                            

                            &:before,
                            &:after {
                                content: normal;
                            }

                            > li {
	                            display: table-cell;
	                            height: 100%;
	                            float: none;
	                            text-align: center;
	                            border-left: 1px solid rgba(0, 0, 0, 0.1);
	                            box-sizing: border-box;

                                &:last-child {
                                    border-right: 1px solid rgba(0, 0, 0, 0.1);
                                }
                            }
                        }
                    }
                }

                .mkdf-position-right {
                    .mkdf-position-right-inner {
                        .mkdf-right-tabbed-widgets-holder {
                            display: inline-table;
                            height: 100%;
                            vertical-align: middle;
                            padding: 0 20px;
                            border-right: 1px solid rgba(0, 0, 0, 0.1);

                            &:last-child {
                                border-right: none;
                            }
                        }

                        .mkdf-right-tabbed-widgets-holder-inner {
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                }
            }

            .mkdf-position-right {

                &:before {
                    content: normal;
                    margin: 0;
                }

                .mkdf-position-right-inner {
                    height: 100%;
                }
            }

            .mkdf-header-widget-menu-area {
	            position: relative;
	            display: table;
	            height: 100%;
	            float: left;
	            padding: 0 20px;
	            vertical-align: middle;
                border-right: 1px solid rgba(0, 0, 0, 0.1);

                &:last-child {
                    padding-right: 0;
                    border: 0;
                }

                > div {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}
/* ==========================================================================
   Header Tabbed style - end
   ========================================================================== */