/* ==========================================================================
   Header Vertical style - begin
   ========================================================================== */
$vertical-menu-width: 300px;

@import 'blocks/header-vertical-navigation.scss';
@import 'blocks/header-vertical-widgets.scss';

.mkdf-header-vertical {
	
	&.admin-bar {
		
		.mkdf-vertical-menu-area {
			top: 32px;
			height: calc(100% - 32px);
		}
	}

    .mkdf-content,
    footer {
        padding-left: $vertical-menu-width;
        box-sizing: border-box;
    }

    .mkdf-vertical-menu-area {
        position: fixed;
	    top: 0;
	    left: 0;
	    width: $vertical-menu-width;
        height: 100%;
        padding: 60px 30px 10px 30px;
        background-color: transparent;
        outline: none;
        z-index: 101;
        -webkit-backface-visibility: hidden;
        box-sizing: border-box;
	    
	    &.mkdf-with-scroll {
		    overflow: hidden;
	    }
    }

    .mkdf-vertical-menu-area-inner {
        @include mkdfRelativeHolderLayout();
        height: 100%;

        &.mkdf-vertical-align-left {
            text-align: left;
        }

        &.mkdf-vertical-align-center {
            text-align: center;

            .mkdf-logo-wrapper img {
                margin: 0 auto;
            }
        }
    }
	
	.mkdf-logo-wrapper {
		@include mkdfRelativeHolderLayout();
		z-index: 100;
		
		a {
			display: block;
			position: relative;
			height: 100%;
		}
		
		img {
			display: block;
			margin: 0 auto;
			height: auto;
			max-height: 100%;
			@include mkdfTransition(opacity 0.3s ease);
		}
	}

    .mkdf-vertical-area-background {
        position: fixed;
        top: 0;
        left: 0;
        width: $vertical-menu-width;
        height: 100%;
        background-color: #fff;
        background-position: right top;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        opacity: 1;
        @include mkdfTransition(opacity 0.5s ease, background-color 0.5s ease);
    }
    
    &.mkdf-header-vertical-shadow-disable .mkdf-vertical-area-background {
        box-shadow: none;
    }
    
    &.mkdf-header-vertical-border-disable .mkdf-vertical-area-background {
        border: none;
    }
}

.mkdf-light-header {
	
	.mkdf-vertical-menu-area {
		
		.mkdf-logo-wrapper {
			
			.mkdf-light-logo {
				opacity: 1;
			}
			
			.mkdf-normal-logo,
			.mkdf-dark-logo {
				opacity: 0;
			}
		}
	}
}

.mkdf-dark-header {
	
	.mkdf-vertical-menu-area {
		
		.mkdf-logo-wrapper {
			
			.mkdf-dark-logo {
				opacity: 1;
			}
			
			.mkdf-normal-logo,
			.mkdf-light-logo {
				opacity: 0;
			}
		}
	}
}
/* ==========================================================================
   Header Vertical style - end
   ========================================================================== */