/* ==========================================================================
   WooCommerce Pagination styles - begin
   ========================================================================== */
.mkdf-woo-pagination-holder {
    @include mkdfRelativeHolderLayout();
    margin: 0 0 76px;
    clear: both;

    .mkdf-woo-pagination-inner {
        position: relative;
        display: table;
        width: 100%;
        text-align: center;
    }
}

.woocommerce-pagination {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 99%;
    margin: 0;
    padding: 0;

    .page-numbers {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin: 0 12px;

            a,
            span {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                padding: 0;
                font-weight: 700;
                color: #999999;
                letter-spacing: 0.1em;

                &:hover,
                &.current {
                    color: $first-main-color;
                }
            }

            a {

                &.next,
                &.prev {
                    font-size: 0;
                    line-height: 1;
                    margin: 0 6px 0 4px;

                    &:before {
                        position: relative;
                        top: 1px;
                        display: block;
                        font-family: 'Ionicons';
                        font-size: 18px;
                        line-height: inherit;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
    
                &.prev {
        
                    &:before {
                        content: "\f3d2";
                    }
                }
    
                &.next {
        
                    &:before {
                        content: "\f3d3";
                    }
                }
            }
        }
    }
}

.mkdf-woo-view-all-pagination {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 1%;

    a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        padding: 0 0 0 2px;
        color: $default-text-color;

        &:before {
            content: '|';
            padding: 0 14px 0 0;
            color: $default-text-color;
        }

        &:hover {
            color: $default-heading-color;
        }
    }
}
/* ==========================================================================
   WooCommerce Pagination styles - end
   ========================================================================== */