/* ==========================================================================
   WooCommerce Widgets styles - begin
   ========================================================================== */

.widget.woocommerce {
    clear: both;
    
    &.widget_rating_filter,
    &.widget_shopping_cart,
    &.widget_layered_nav,
    &.widget_layered_nav_filters,
    &.widget_product_categories,
    &.widget_products,
    &.widget_recently_viewed_products,
    &.widget_recent_reviews,
    &.widget_top_rated_products  {
        
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            
            li {
                @include mkdfRelativeHolderLayout();
                padding: 0;
                margin: 0 0 4px;
                clear: both;
                
                &:last-child {
                    margin: 0;
                }

                a {
                    &:hover {
                        color: $first-main-color;
                    }
                }
                
                ul {
                    margin: 14px 0 0 10px;
                }
            }
        }
    }
    
    &.widget_shopping_cart {
        
        .widget_shopping_cart_content {
            @include mkdfRelativeHolderLayout();
            
            ul {
                
                li {
                    
                    img {
                        display: block;
                        max-width: 84px;
                        margin: 0 70% 13px 0;
                    }
                    
                    .remove {
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 0;
                        line-height: 1;
                        
                        &:after {
                            position: relative;
                            display: block;
                            padding: 0 3px;
                            font-family: 'Ionicons';
                            content: "\f404";
                            font-size: 30px;
                            line-height: 25px;
                        }
                    }
                }
            }
            
            .variation {
                @include mkdfRelativeHolderLayout();
                
                > * {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0;
                    
                    p {
                        margin: 0;
                    }
                }
            }
            
            .total {
                margin: 17px 0 13px;
            }
            
            .buttons {
                margin: 10px 0 0;
            }
        }
    }
    
    &.widget_layered_nav {
    
        .mkdf-widget-title {
            margin: 0 0 17px;
        }
        
        ul {
            
            li {
                margin: 2px 0;
                
                &.chosen {
                    
                    a {
                        color: $first-main-color;
                    }
                }
            }
        }
    }
    
    &.widget_layered_nav_filters {
        
        .mkdf-widget-title {
            margin: 0 0 17px;
        }
    }
    
    &.widget_price_filter {
        
        .price_slider_wrapper {

            margin-top: 17px;
            
            .ui-widget-content {
                position: relative;
                height: 3px;
                background-color: #ebebeb;
                
                .ui-slider-handle {
                    position: absolute;
                    top: -6px;
                    height: 14px;
                    width: 14px;
                    background-color: $first-main-color;
                    margin: 0 0 0 -1px;
                    cursor: pointer;
                    outline: medium none;
                    z-index: 2;
                    border-radius: 50%;
                    
                    &:last-child {
                        @include mkdfTransform(translateX(-50%));
                    }
                }
                
                .ui-slider-range {
                    position: absolute;
                    display: block;
                    height: 100%;
                    background-color: $first-main-color;
                    z-index: 1;
                }
            }
        }
        
        .price_slider_amount {
            margin: 30px 0 0;
            
            .button {
                float: right;
                padding: 6px 29px;
                font-size: 11px;
            }
            
            .price_label {
                float: left;
                font-weight: 700;
                color: #bababa;
                line-height: 34px;
            }
        }
    }
    
    &.widget_product_categories {
        
        ul {
            
            li {
                margin: 8px 0;
                
                ul {
                    margin: 0 0 0 10px;
                }
            }
        }
    }
    
    &.widget_products,
    &.widget_recently_viewed_products,
    &.widget_recent_reviews,
    &.widget_top_rated_products {
    
        .mkdf-widget-title {
            margin: 0 0 29px;
        }
        
        ul {
            
            li {
                min-height: 70px;
                
                a {
                    
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        max-width: 70px;
                    }
                    
                    span {
                        position: relative;
                        display: block;
                        padding: 0 0 0 84px;
                        line-height: 20px;
                        box-sizing: border-box;
                    }
                }
                
                > *:not(a) {
                    margin: 0 0 0 84px;
                    line-height: 20px;
                }
                
                .star-rating {
                    position: relative;
                    
                    span {
                        max-width: 100px;
                    }
                }
                
                del,
                ins {
                    display: block;
                    
                    span.amount {
                        color: inherit;
                    }
                }

                del{
                	color: #bababa;
                }
                
                ins {
                	color: $first-main-color;
                    text-decoration: none;
                }
            }
        }
    }
    
    &.widget_products,
    &.widget_recently_viewed_products,
    &.widget_top_rated_products {
        
        ul {
            
            li {
                
                .product-title {
                    color: #303030;
                    font-size: 15px;
                    font-weight: 700;
                }
                
                .amount {
                    color: $first-main-color;
                    font-size: 15px;
                    font-weight: 700;
                }
            }
        }
    }
    
    &.widget_recently_viewed_products {
        
        ul {
            
            li {
                
                del,
                > .amount {
                    display: block;
                    margin-top: 10px;
                }
            }
        }
    }
    
    &.widget_recent_reviews {
        
        ul {
            
            li {
                
                .star-rating {
                    margin-top: 7px;
                    margin-bottom: 10px;
                }
            }
        }
        
        a {
            display: block;
            padding: 0 0 0 84px;
        }
        
        .reviewer {
            display: inline-block;
            vertical-align: middle;
            width: auto;
            clear: both;
        }
    }
    
    &.widget_top_rated_products {
        
        ul {
            
            li {
                
                .star-rating {
                    margin-top: 10px;
                    margin-bottom: 12px;
                    display: none;
                }
                
                .amount {
                    display: block;
                }
            }
        }
    }
    
    &.widget_product_tag_cloud {
        
        .tagcloud {
            
            a {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                font-family: inherit;
                background-color: transparent;
                font-size: 14px !important;
                
                &:after {
                    content: '/';
                    color: $default-text-color;
                    margin: 0 0 0 4px;
                }
                
                &:last-child {
                    
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    
    &.widget_product_search {
        
        .woocommerce-product-search {
            @include mkdfRelativeHolderLayout();
            clear: both;
            
            > div {
                @include mkdfRelativeHolderLayout();
                border: 3px solid $first-main-color;
                box-sizing: border-box;
            }
            
            input,
            button {
                position: relative;
                display: inline-block;
                vertical-align: top;
                float: left;
                margin: 0;
                height: 46px;
                line-height: 46px;
                color: #808080;
                background-color: transparent;
                border: 0;
                border-radius: 0;
                outline: 0;
                -webkit-appearance: none;
                box-sizing: border-box;
                @include mkdfTransition(color .2s ease-out);
            }
            
            input {
                width: calc(100% - 50px);
                padding: 0 0 0 17px;
                font-family: $default-text-font;
                font-weight: 400;
                font-size: 14px;

                @include mkdfPlaceholder {
                    color: inherit;
                }
            }
            
            button {
                background: $first-main-color;
                color: #fff;
                cursor: pointer;
                font-size: 18px;
                width: 50px;
                right: -1px;
                
                &:hover {
                    color: rgba($default-background-color,.75);
                }
                
                span {
                    display: block;
                    line-height: inherit;
                    
                    &:before {
                        display: block;
                        line-height: inherit;
                    }
                }
            }
        }
    }
}
/* ==========================================================================
   WooCommerce Widgets styles - end
   ========================================================================== */