.widget.mkdf-search-post-type-widget {
    line-height: 0;
    position: relative;
    .mkdf-search-post-type {
        display: inline-block;
        width: 100%;
        position: relative;
    }

    .mkdf-post-type-search-results {
        background: #fff;
        height: auto;
        display: none;
        width: 100%;
        position: absolute;
        z-index: 99;
        left: 0;
        top: 100%;
        ul {
            padding: 10px 20px;
            box-sizing: border-box;
            display: inline-block;
            line-height: 0;
            width: 100%;
            li {
                display: inline-block;
                width: 100%;
            }
        }
    }

    .mkdf-search-icon,
    .mkdf-search-loading {
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -9px;
        font-size: 18px;
        color: #000000;
        @include mkdfTransition(opacity 0.2s ease-out);
        opacity: 1;

        &.mkdf-hidden {
            opacity: 0;
        }
    }

    .wpb_widgetised_column & {
        .mkdf-search-post-type {
            background-color: rgba(255,255,255,0.9);
        }

        .mkdf-post-type-search-field {
            border-radius: 0;
            height: 57px;
            line-height: calc(57px - 2px);
            border: 0;
            font-size: 15px;
            color: #878787;
        }

        .mkdf-post-type-search-results {
            background-color: rgba(255,255,255,0.9);
            border-top: 1px solid #dadada;
            ul {
                padding: 16px 20px;
            }
        }
    }
}