/* ==========================================================================
   Icon widget style - begin
   ========================================================================== */

.mkdf-icon-widget-holder {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
	color: $first-main-color;

	&.mkdf-link-with-href {

		&:hover {

			.mkdf-icon-text {
				color: $first-main-color;
			}
		}
	}

    > * {
        position: relative;
        display: inline-block;
        vertical-align: middle;
		color: inherit;
		font-size: inherit;
		line-height: inherit;
		font-style: inherit;
		font-weight: inherit;
		letter-spacing: inherit;
		text-transform: inherit;
    }

	.mkdf-icon-text {
		color: $default-text-color;
		padding: 0 0 0 10px;
	}
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-icon-widget-holder {
    color: $header-dark-color !important;

    &:hover {
        color: $header-dark-hover-color !important;
    }
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-icon-widget-holder {
    color: $header-light-color !important;

    &:hover {
        color: $header-light-hover-color !important;
    }
}
/* ==========================================================================
   Icon widget style - end
   ========================================================================== */