/* ==========================================================================
   Blog List shortcode global style - begin
   ========================================================================== */

.mkdf-blog-list-holder {
	@include mkdfRelativeHolderLayout();
	clear: both;
	
	.mkdf-blog-list {
		@include mkdfRelativeHolderLayout();
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	.mkdf-bl-item {
		@include mkdfRelativeHolderLayout();
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	
	.mkdf-bli-inner {
		@include mkdfRelativeHolderLayout();
	}
	
	.mkdf-bli-content {
		@include mkdfRelativeHolderLayout();
		box-sizing: border-box;
	}
	
	.mkdf-post-image {
		@include mkdfRelativeHolderLayout();
		margin: 0 0 30px;
		
		img {
			display: block;
		}
		
		a {
			display: block;
			
			&:after {
				@include mkdfAbsoluteHolderLayout();
				content: '';
				background: rgba(#fff, .35);
				opacity: 0;
				@include mkdfTransition(opacity 0.5s ease);
			}
			
			&:hover {
				
				&:after {
					opacity: 1;
				}
			}
		}
	}
	
	.mkdf-bli-info {
		@include mkdfRelativeHolderLayout();
		margin: 0 0 8px;
		clear: both;
		
		> div {
			position: relative;
			display: inline-block;
			vertical-align: top;
			font-size: 15px;
			line-height: 1.2;
			float: left;
			padding: 0 15px 5px 0;
			
			&:last-child {
				padding: 0 0 5px;
			}
			
			a {
				color: $default-text-color;
				
				&:hover {
					color: $first-main-color;
				}
			}

			&.mkdf-post-info-category span{
				margin-right: 5px;
			}
		}
	}
	
	.mkdf-post-title {
		margin: 0;
	}
	
	.mkdf-post-excerpt {
		@include mkdfRelativeHolderLayout();
		margin: 20px 0 0;
		
		p {
			margin: 0;
		}
		
		&:after {
			content: '...';
		}
	}
	
	.mkdf-post-read-more-button {
		@include mkdfRelativeHolderLayout();
		margin: 21px 0 0;
	}
}
/* ==========================================================================
   Blog List shortcode global style - end
   ========================================================================== */