/* ==========================================================================
   Blog List shortcode - Simple type style - begin
   ========================================================================== */

.mkdf-blog-list-holder {
    
    &.mkdf-bl-simple {
        
        .mkdf-post-image {
            display: table-cell;
            vertical-align: top;
            width: 70px;
        }
        
        .mkdf-bli-content {
            display: table-cell;
            vertical-align: top;
            width: auto;
            padding-left: 14px;
            
            .mkdf-post-info-date {
                display: block;
                margin: 7px 0 0;
                line-height: 1;
                
                a {
                    
                    &:hover {
                        color: $default-heading-color;
                    }
                }
            }
        }
    }
}
/* ==========================================================================
   Blog List shortcode - Simple type style - end
   ========================================================================== */